@import url("https://fonts.googleapis.com/css2? family= Raleway:ital,wght@0,200;0,300;1,100;1,200 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Raleway:ital,wght@0,200;0,300;1,100;1,200 & family= Roboto:ital,wght@0,100;0,300;0,400; 0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900 & display=swap");
.index-aside__button {
  background-color: #9356DC;
  border: 2px solid #9356DC;
  border-radius: 30px;
  color: white;
  padding: 10px;
}

.header-index {
  display: flex;
  justify-content: center;
  background-color: white;
}

.header-index__titre {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.header-index img {
  width: 50%;
}

.header-restaurants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-restaurants__titre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-restaurants img {
  width: 50%;
  margin-right: 50px;
}

#conteneur-footer {
  color: white;
  background-color: black;
  padding: 10px 20px;
}

.footer-menu__liste {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100px;
  padding-left: 0;
}

.footer-menu .fa-utensils {
  margin-right: 10px;
}

.footer-menu .fa-handshake-angle {
  margin-right: 10px;
}

.index-figure__image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  margin-bottom: -5px;
}

article img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#conteneur-francaise,
#conteneur-enchantee,
#conteneur-palette-gout,
#conteneur-delices-sens {
  border: solid 2px black;
  border-radius: 40px 40px 0 0;
  margin: -30px 0 0 0;
  padding: 10px 20px 0 20px;
}

.choix-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.choix-menu-bloc {
  width: 100%;
  border: solid 2px black;
  border-radius: 15px;
}

.choix-menu-bloc__paragraphe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.choix-menu-bloc__paragraphe p {
  margin: 5px 0 10px 5px;
}

.choix-menu-bloc__titre {
  margin: 5px 0 0 5px;
}

.choix-menu-check {
  border: solid 2px #99E2D0;
  background-color: #99E2D0;
  color: white;
  border-radius: 0px 10px 10px 0px;
  height: 60px;
  width: 15%;
  text-align: center;
}

.index-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;
  margin-bottom: 0;
  margin-top: 0;
}

.index-aside__titre {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.index-aside__paragraphe {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.index-section__paragraphe {
  display: flex;
  justify-content: center;
  margin: 0;
  border: 2px solid gray;
  padding: 15px 0px;
}

.fa-location-dot {
  margin-right: 20px;
  margin-left: -20px;
}

.index-nav {
  padding-left: 10px;
  height: 300px;
  padding-top: 10px;
  background-color: white;
}

.index-nav__menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.index-nav__menu-liste {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin-left: -40px;
  border: solid 2px #99E2D0;
  border-radius: 15px;
  padding: 15px 50px 15px 0px;
  margin-bottom: 10px;
  background-color: #99E2D0;
}

.fa-1,
.fa-2,
.fa-3 {
  background-color: #9356DC;
  font-size: 10px;
  border-radius: 30px;
  border: 2px solid #9356DC;
  padding: 0 4px;
  display: flex;
  align-items: center;
  color: white;
  margin-left: -35px;
}

#index-restaurant {
  margin-top: 40px;
}

#index-restaurant h2 {
  margin-left: 15px;
}

.index-figure {
  margin: 0 10px 20px 10px;
  border: solid 2px white;
  border-radius: 20px;
  /*height: 220px;*/
}

.index-figure__bloc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 40px;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
}

.index-figure__bloc-text h3 {
  margin-bottom: -10px;
}

.fa-heart:hover {
  color: #9356DC;
  /*background-color: $couleur-primarire;*/
}

#conteneur-francaise h2 {
  display: flex;
  justify-content: space-between;
}

h1,
h2,
h3 {
  font-family: raleway, "sans-serif";
}

.conteneur-francaise h2 {
  display: flex;
  justify-content: space-between;
}

.choix {
  margin: 0;
}

body {
  background-color: violet;
  font-family: raleway, Roboto, "sans-serif";
  margin: 0;
}
/*# sourceMappingURL=main.css.map */