/*@mixin check-hover{
    border: solid 2px $Tertiaire;
    background-color: $Tertiaire;
    color: $quatro;
    border-radius: 0px 10px 10px 0px;
    height: 60px;
    width: 15%;
    text-align: center;
}*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2? famille= Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400 & display=swap");
.index-menilmontant-figure__bloc, .index-folie-mericourt-figure__bloc, .index-cite-rouge-figure__bloc, .index-charonne-figure__bloc, .index-nav__menu-liste, .index-section__paragraphe, .delices-sens-entrees .delices-sens-entrees-bloc__paragraphe, .delices-sens-entrees, .palette-gout-entrees .palette-gout-entrees-bloc__paragraphe, .palette-gout-entrees, .enchantee-entrees .enchantee-entrees-bloc__paragraphe, .enchantee-entrees, .francaise-entrees .francaise-entrees-bloc__paragraphe, .francaise-entrees, .header-restaurants__titre, .header-restaurants, .header-index__titre, .header-index {
  display: flex;
  flex-direction: row;
}

.index-nav__menu, .index-aside, .footer-menu__liste {
  display: flex;
  flex-direction: column;
}

.header-index {
  justify-content: center;
  background-color: white;
}
.header-index__titre {
  justify-content: center;
  margin-bottom: 15px;
}
.header-index img {
  width: 50%;
}

.header-restaurants {
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}
.header-restaurants__titre {
  justify-content: space-around;
  align-items: center;
}

.header-restaurants img {
  width: 50%;
  margin-right: 50px;
}

#conteneur-footer {
  color: white;
  background-color: black;
  padding: 10px 20px;
}

.footer-menu__liste {
  list-style-type: none;
  justify-content: space-around;
  height: 100px;
  padding-left: 0;
}
.footer-menu__liste .footer-a {
  color: white;
  display: contents;
  all: unset;
}

.footer-menu .fa-utensils, .footer-menu .fa-handshake-angle {
  margin-right: 10px;
  color: white;
}

#conteneur-francaise, #conteneur-delices-sens, #conteneur-palette-gout, #conteneur-enchantee {
  border: solid 2px black;
  border-radius: 40px 40px 0 0;
  margin: -30px 0 0 0;
  padding: 10px;
}
#conteneur-francaise h2, #conteneur-delices-sens h2, #conteneur-palette-gout h2, #conteneur-enchantee h2 {
  display: flex;
  justify-content: space-between;
}

.francaise-entrees {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  /* .francaise-entrees-check:hover {
       @include check-hover
   }*/
}
.francaise-entrees .francaise-entrees-bloc {
  width: 100%;
  border: solid 2px white;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.2);
}
.francaise-entrees .francaise-entrees-bloc__paragraphe {
  justify-content: space-between;
  align-items: center;
}
.francaise-entrees .francaise-entrees-bloc__paragraphe p {
  margin: 5px 0 10px 5px;
}
.francaise-entrees .francaise-entrees-bloc__paragraphe span {
  margin-right: 20px;
}
.francaise-entrees .francaise-entrees-bloc__titre {
  margin: 5px 0 0 5px;
}

.enchantee-entrees {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.enchantee-entrees .enchantee-entrees-bloc {
  width: 100%;
  border: solid 2px white;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.2);
}
.enchantee-entrees .enchantee-entrees-bloc__paragraphe {
  justify-content: space-between;
  align-items: center;
}
.enchantee-entrees .enchantee-entrees-bloc__paragraphe p {
  margin: 5px 0 10px 5px;
}
.enchantee-entrees .enchantee-entrees-bloc__paragraphe span {
  margin-right: 20px;
}
.enchantee-entrees .enchantee-entrees-bloc__titre {
  margin: 5px 0 0 5px;
}

.palette-gout-entrees {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.palette-gout-entrees .palette-gout-entrees-bloc {
  width: 100%;
  border: solid 2px white;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.2);
}
.palette-gout-entrees .palette-gout-entrees-bloc__paragraphe {
  justify-content: space-between;
  align-items: center;
}
.palette-gout-entrees .palette-gout-entrees-bloc__paragraphe p {
  margin: 5px 0 10px 5px;
}
.palette-gout-entrees .palette-gout-entrees-bloc__paragraphe span {
  margin-right: 20px;
}
.palette-gout-entrees .palette-gout-entrees-bloc__titre {
  margin: 5px 0 0 5px;
}

.delices-sens-entrees {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.delices-sens-entrees .delices-sens-entrees-bloc {
  width: 100%;
  border: solid 2px white;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.2);
}
.delices-sens-entrees .delices-sens-entrees-bloc__paragraphe {
  justify-content: space-between;
  align-items: center;
}
.delices-sens-entrees .delices-sens-entrees-bloc__paragraphe p {
  margin: 5px 0 10px 5px;
}
.delices-sens-entrees .delices-sens-entrees-bloc__paragraphe span {
  margin-right: 20px;
}
.delices-sens-entrees .delices-sens-entrees-bloc__titre {
  margin: 5px 0 0 5px;
}

.index-section__paragraphe {
  justify-content: center;
  margin: 0;
  border: 2px solid #e8f9f5;
  background-color: #278870;
  padding: 15px 0px;
}

.fa-location-dot {
  margin-right: 20px;
  margin-left: -20px;
}

.index-aside {
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: 0;
  margin-top: 0;
}
.index-aside__titre {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
.index-aside__paragraphe {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.index-nav {
  padding-left: 10px;
  height: 300px;
  padding-top: 10px;
  background-color: white;
}
.index-nav__menu {
  list-style-type: none;
  justify-content: space-between;
  height: 100px;
}
.index-nav__menu-liste {
  justify-content: space-evenly;
  width: 90%;
  margin-left: -40px;
  border: solid 2px #e8f9f5;
  border-radius: 15px;
  padding: 15px 50px 15px 0px;
  margin-bottom: 20px;
  background-color: #e8f9f5;
  box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.1);
}
.index-nav .fa-1, .index-nav .fa-3, .index-nav .fa-2 {
  background-color: #9356DC;
  font-size: 10px;
  border-radius: 30px;
  border: 2px solid #9356DC;
  padding: 0 4px;
  display: flex;
  align-items: center;
  color: white;
  margin-left: -35px;
}
#index-restaurant {
  margin-top: 40px;
}
#index-restaurant h2 {
  margin-left: 15px;
}

.index-menilmontant-figure, .index-folie-mericourt-figure, .index-cite-rouge-figure, .index-charonne-figure {
  margin: 0 10px 20px 10px;
  border: solid 2px white;
  border-radius: 20px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.3);
}
.index-menilmontant-figure__bloc, .index-folie-mericourt-figure__bloc, .index-cite-rouge-figure__bloc, .index-charonne-figure__bloc {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 40px;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
}
.index-menilmontant-figure__bloc-text h3 {
  margin-bottom: -10px;
}
.index-menilmontant-figure img, .index-folie-mericourt-figure img, .index-cite-rouge-figure img, .index-charonne-figure img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  margin-bottom: -5px;
}

.index-charonne-figure__bloc-text h3 {
  margin-bottom: -10px;
}

.index-cite-rouge-figure__bloc-text h3 {
  margin-bottom: -10px;
}

.index-folie-mericourt-figure__bloc-text h3 {
  margin-bottom: -10px;
}

.fa-heart:hover {
  color: #9356DC;
}

body {
  background-color: #e8f9f5;
  margin: 0;
}/*# sourceMappingURL=main.css.map */