@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2? famille= Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400 & display=swap");
.index-menilmontant-figure__bloc, .index-folie-mericourt-figure__bloc, .index-cite-rouge-figure__bloc, .index-charonne-figure__bloc, .index-nav-menu__block-liste, .index-nav-menu__block, .index-section__paragraphe, .francaise-desserts-bloc__paragraphe,
.enchantee-desserts-bloc__paragraphe,
.palette-gout-desserts-bloc__paragraphe,
.delices-sens-desserts-bloc__paragraphe, .francaise-desserts,
.enchantee-desserts,
.palette-gout-desserts,
.delices-sens-desserts, .francaise-plats-bloc__paragraphe,
.enchantee-plats-bloc__paragraphe,
.palette-gout-plats-bloc__paragraphe,
.delices-sens-plats-bloc__paragraphe, .francaise-plats,
.enchantee-plats,
.palette-gout-plats,
.delices-sens-plats, .francaise-entrees-bloc__paragraphe,
.enchantee-entrees-bloc__paragraphe,
.palette-gout-entrees-bloc__paragraphe,
.delices-sens-entrees-bloc__paragraphe, .francaise-entrees,
.enchantee-entrees,
.palette-gout-entrees,
.delices-sens-entrees, .francaise-menu,
.palette-gout-menu,
.enchantee-menu,
.delices-sens-menu, .header-restaurants__titre, .header-restaurants, .header-index__titre, .header-index {
  display: flex;
  flex-direction: row;
}

.index-nav-menu, .index-aside, .footer-menu__liste {
  display: flex;
  flex-direction: column;
}

.francaise-desserts-bloc__paragraphe,
.enchantee-desserts-bloc__paragraphe,
.palette-gout-desserts-bloc__paragraphe,
.delices-sens-desserts-bloc__paragraphe, .francaise-desserts,
.enchantee-desserts,
.palette-gout-desserts,
.delices-sens-desserts, .francaise-plats-bloc__paragraphe,
.enchantee-plats-bloc__paragraphe,
.palette-gout-plats-bloc__paragraphe,
.delices-sens-plats-bloc__paragraphe, .francaise-plats,
.enchantee-plats,
.palette-gout-plats,
.delices-sens-plats, .francaise-entrees-bloc__paragraphe,
.enchantee-entrees-bloc__paragraphe,
.palette-gout-entrees-bloc__paragraphe,
.delices-sens-entrees-bloc__paragraphe, .francaise-entrees,
.enchantee-entrees,
.palette-gout-entrees,
.delices-sens-entrees, .francaise-menu,
.palette-gout-menu,
.enchantee-menu,
.delices-sens-menu {
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
}

.francaise-menu__titre,
.palette-gout-menu__titre,
.enchantee-menu__titre,
.delices-sens-menu__titre, h1 {
  font-family: "Shrikhand", "cursive";
}

.index-aside__button, .button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 35px 15px 35px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  z-index: 0;
  position: relative;
  transition: transform 0.1s;
  box-shadow: 0px 10px 10px 0px rgba(128, 128, 128, 0.2784313725);
  transform: scale(1);
}
.index-aside__button:hover, .button:hover {
  z-index: 1;
  opacity: 0.8;
  box-shadow: 0px 10px 10px 0px grey;
  transform: scale(1.02);
}

.button-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-index {
  justify-content: center;
  background-color: white;
}
.header-index__titre {
  justify-content: center;
  margin-bottom: 15px;
}
.header-index img {
  width: 50%;
}

.header-restaurants {
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}
.header-restaurants__titre {
  justify-content: space-around;
  align-items: center;
}
.header-restaurants__titre .fa-arrow-left {
  color: black;
}

.header-restaurants img {
  width: 50%;
  margin-right: 50px;
}

#conteneur-footer {
  color: white;
  background-color: #383636;
  padding: 10px 20px;
}

.footer-menu__liste {
  list-style-type: none;
  justify-content: space-around;
  height: 100px;
  padding-left: 0;
}
.footer-menu__liste .footer-a {
  color: white;
  display: contents;
  all: unset;
}
.footer-menu__liste .footer-a:hover {
  cursor: pointer;
}

.footer-menu .fa-utensils, .footer-menu .fa-handshake-angle {
  margin-right: 10px;
  color: white;
}

.menu-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}

#conteneur-francaise, #conteneur-delices-sens, #conteneur-palette-gout, #conteneur-enchantee {
  border-radius: 40px 40px 0 0;
  margin: 200px 0 0 0;
  padding: 10px;
  height: 1180px;
  z-index: 10;
  background-color: white;
}

.francaise-menu,
.palette-gout-menu,
.enchantee-menu,
.delices-sens-menu {
  margin-right: 10px;
}
.francaise-menu__icone .icone1,
.palette-gout-menu__icone .icone1,
.enchantee-menu__icone .icone1,
.delices-sens-menu__icone .icone1 {
  font-size: 20px;
  z-index: 1;
}
.francaise-menu__icone .icone2,
.palette-gout-menu__icone .icone2,
.enchantee-menu__icone .icone2,
.delices-sens-menu__icone .icone2 {
  z-index: 10;
  opacity: 0;
  right: 23.65px;
  margin-top: 4.5px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  transition: transform ease-in-out 0.3s;
  position: absolute;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.francaise-menu__icone:hover,
.palette-gout-menu__icone:hover,
.enchantee-menu__icone:hover,
.delices-sens-menu__icone:hover {
  cursor: pointer;
}
.francaise-menu__icone:hover .icone1,
.palette-gout-menu__icone:hover .icone1,
.enchantee-menu__icone:hover .icone1,
.delices-sens-menu__icone:hover .icone1 {
  opacity: 0;
}
.francaise-menu__icone:hover .icone2,
.palette-gout-menu__icone:hover .icone2,
.enchantee-menu__icone:hover .icone2,
.delices-sens-menu__icone:hover .icone2 {
  opacity: 1;
  transform: scale(1.5);
}
.francaise-menu__titre,
.palette-gout-menu__titre,
.enchantee-menu__titre,
.delices-sens-menu__titre {
  font-weight: 500;
}

.francaise-titre {
  border-bottom: solid 3px #99E2D0;
  width: 12%;
  font-weight: lighter;
  color: hwb(0deg 43% 57%);
  font-size: 1.1em;
  padding-bottom: 4px;
}

#conteneur-enchantee {
  height: 1280px;
}

.conteneur-francaise-entrees,
.conteneur-enchantee-entrees,
.conteneur-palette-gout-entrees,
.conteneur-delices-sens-entrees {
  margin: 0 0 50px 0;
}

.francaise-animation,
.enchatee-animation,
.palette-gout-animation,
.delices-sens-animation {
  animation: apparition 1s ease-in-out;
}

.francaise-animation2,
.enchatee-animation2,
.palette-gout-animation2,
.delices-sens-animation2 {
  animation: apparition 1.5s ease-in-out;
}

.francaise-animation3,
.enchatee-animation3,
.palette-gout-animation3,
.delices-sens-animation3 {
  animation: apparition 2s ease-in-out;
}

.enchatee-animation4 {
  animation: apparition 2.5s ease-in-out;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.francaise-entrees,
.enchantee-entrees,
.palette-gout-entrees,
.delices-sens-entrees {
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.francaise-entrees .fa-check,
.enchantee-entrees .fa-check,
.palette-gout-entrees .fa-check,
.delices-sens-entrees .fa-check {
  opacity: 0;
  transform: rotate(0turn);
  transition: transform ease-in-out 0.8s;
}
.francaise-entrees .francaise-entrees-check,
.francaise-entrees .enchantee-entrees-check,
.francaise-entrees .palette-gout-entrees-check,
.francaise-entrees .delices-sens-entrees-check,
.enchantee-entrees .francaise-entrees-check,
.enchantee-entrees .enchantee-entrees-check,
.enchantee-entrees .palette-gout-entrees-check,
.enchantee-entrees .delices-sens-entrees-check,
.palette-gout-entrees .francaise-entrees-check,
.palette-gout-entrees .enchantee-entrees-check,
.palette-gout-entrees .palette-gout-entrees-check,
.palette-gout-entrees .delices-sens-entrees-check,
.delices-sens-entrees .francaise-entrees-check,
.delices-sens-entrees .enchantee-entrees-check,
.delices-sens-entrees .palette-gout-entrees-check,
.delices-sens-entrees .delices-sens-entrees-check {
  border: solid 0px #99E2D0;
  background-color: #99E2D0;
  color: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  height: 62px;
  width: 8%;
  text-align: center;
  transform: scalex(0);
  transition: all 1s;
  transform-origin: right 45%;
  margin-right: -13%;
}
.francaise-entrees:hover,
.enchantee-entrees:hover,
.palette-gout-entrees:hover,
.delices-sens-entrees:hover {
  cursor: pointer;
}
.francaise-entrees:hover .francaise-entrees-check,
.francaise-entrees:hover .enchantee-entrees-check,
.francaise-entrees:hover .palette-gout-entrees-check,
.francaise-entrees:hover .delices-sens-entrees-check,
.enchantee-entrees:hover .francaise-entrees-check,
.enchantee-entrees:hover .enchantee-entrees-check,
.enchantee-entrees:hover .palette-gout-entrees-check,
.enchantee-entrees:hover .delices-sens-entrees-check,
.palette-gout-entrees:hover .francaise-entrees-check,
.palette-gout-entrees:hover .enchantee-entrees-check,
.palette-gout-entrees:hover .palette-gout-entrees-check,
.palette-gout-entrees:hover .delices-sens-entrees-check,
.delices-sens-entrees:hover .francaise-entrees-check,
.delices-sens-entrees:hover .enchantee-entrees-check,
.delices-sens-entrees:hover .palette-gout-entrees-check,
.delices-sens-entrees:hover .delices-sens-entrees-check {
  margin-right: 0;
  transform: scalex(1.2) translateX(2%);
  width: 3rem;
}
.francaise-entrees:hover .fa-check,
.enchantee-entrees:hover .fa-check,
.palette-gout-entrees:hover .fa-check,
.delices-sens-entrees:hover .fa-check {
  border: solid 2px white;
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  color: #99E2D0;
  opacity: 1;
  transform: rotate(1turn);
}

.francaise-entrees-bloc,
.enchantee-entrees-bloc,
.palette-gout-entrees-bloc,
.delices-sens-entrees-bloc {
  width: 100%;
  margin-right: 0%;
  transition: all ease-in-out 3s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.francaise-entrees-bloc__paragraphe p,
.enchantee-entrees-bloc__paragraphe p,
.palette-gout-entrees-bloc__paragraphe p,
.delices-sens-entrees-bloc__paragraphe p {
  margin: 5px 0 10px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.francaise-entrees-bloc__paragraphe span,
.enchantee-entrees-bloc__paragraphe span,
.palette-gout-entrees-bloc__paragraphe span,
.delices-sens-entrees-bloc__paragraphe span {
  margin-right: 20px;
  white-space: nowrap;
  font-weight: bold;
}

.francaise-entrees-bloc__titre,
.enchantee-entrees-bloc__titre,
.palette-gout-entrees-bloc__titre,
.delices-sens-entrees-bloc__titre {
  margin: 5px 0 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.conteneur-francaise-plats,
.conteneur-enchantee-plats,
.conteneur-palette-gout-plats,
.conteneur-delices-sens-plats {
  margin: 0 0 50px 0;
}

.francaise-plats,
.enchantee-plats,
.palette-gout-plats,
.delices-sens-plats {
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.francaise-plats .fa-check,
.enchantee-plats .fa-check,
.palette-gout-plats .fa-check,
.delices-sens-plats .fa-check {
  opacity: 0;
  transform: rotate(0turn);
  transition: transform ease-in-out 0.8s;
}
.francaise-plats .francaise-plats-check,
.francaise-plats .enchantee-plats-check,
.francaise-plats .palette-gout-plats-check,
.francaise-plats .delices-sens-plats-check,
.enchantee-plats .francaise-plats-check,
.enchantee-plats .enchantee-plats-check,
.enchantee-plats .palette-gout-plats-check,
.enchantee-plats .delices-sens-plats-check,
.palette-gout-plats .francaise-plats-check,
.palette-gout-plats .enchantee-plats-check,
.palette-gout-plats .palette-gout-plats-check,
.palette-gout-plats .delices-sens-plats-check,
.delices-sens-plats .francaise-plats-check,
.delices-sens-plats .enchantee-plats-check,
.delices-sens-plats .palette-gout-plats-check,
.delices-sens-plats .delices-sens-plats-check {
  border: solid 0px #99E2D0;
  background-color: #99E2D0;
  color: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  height: 62px;
  width: 8%;
  text-align: center;
  transform: scalex(0);
  transition: all 1s;
  transform-origin: right 45%;
  margin-right: -13%;
}
.francaise-plats:hover,
.enchantee-plats:hover,
.palette-gout-plats:hover,
.delices-sens-plats:hover {
  cursor: pointer;
}
.francaise-plats:hover .francaise-plats-check,
.francaise-plats:hover .enchantee-plats-check,
.francaise-plats:hover .palette-gout-plats-check,
.francaise-plats:hover .delices-sens-plats-check,
.enchantee-plats:hover .francaise-plats-check,
.enchantee-plats:hover .enchantee-plats-check,
.enchantee-plats:hover .palette-gout-plats-check,
.enchantee-plats:hover .delices-sens-plats-check,
.palette-gout-plats:hover .francaise-plats-check,
.palette-gout-plats:hover .enchantee-plats-check,
.palette-gout-plats:hover .palette-gout-plats-check,
.palette-gout-plats:hover .delices-sens-plats-check,
.delices-sens-plats:hover .francaise-plats-check,
.delices-sens-plats:hover .enchantee-plats-check,
.delices-sens-plats:hover .palette-gout-plats-check,
.delices-sens-plats:hover .delices-sens-plats-check {
  margin-right: 0;
  transform: scalex(1.2) translateX(2%);
  width: 3rem;
}
.francaise-plats:hover .fa-check,
.enchantee-plats:hover .fa-check,
.palette-gout-plats:hover .fa-check,
.delices-sens-plats:hover .fa-check {
  border: solid 2px white;
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  color: #99E2D0;
  opacity: 1;
  transform: rotate(1turn);
}

.francaise-plats-bloc,
.enchantee-plats-bloc,
.palette-gout-plats-bloc,
.delices-sens-plats-bloc {
  width: 100%;
  margin-right: 0%;
  transition: all ease-in-out 3s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.francaise-plats-bloc__paragraphe p,
.enchantee-plats-bloc__paragraphe p,
.palette-gout-plats-bloc__paragraphe p,
.delices-sens-plats-bloc__paragraphe p {
  margin: 5px 0 10px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.francaise-plats-bloc__paragraphe span,
.enchantee-plats-bloc__paragraphe span,
.palette-gout-plats-bloc__paragraphe span,
.delices-sens-plats-bloc__paragraphe span {
  margin-right: 20px;
  white-space: nowrap;
  font-weight: bold;
}

.francaise-plats-bloc__titre,
.enchantee-plats-bloc__titre,
.palette-gout-plats-bloc__titre,
.delices-sens-plats-bloc__titre {
  margin: 5px 0 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.conteneur-francaise-desserts,
.conteneur-enchantee-desserts,
.conteneur-palette-gout-desserts,
.conteneur-delices-sens-desserts {
  margin: 0 0 50px 0;
}

.francaise-desserts,
.enchantee-desserts,
.palette-gout-desserts,
.delices-sens-desserts {
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.francaise-desserts .fa-check,
.enchantee-desserts .fa-check,
.palette-gout-desserts .fa-check,
.delices-sens-desserts .fa-check {
  opacity: 0;
  transform: rotate(0turn);
  transition: transform ease-in-out 0.8s;
}
.francaise-desserts .francaise-desserts-check,
.francaise-desserts .enchantee-desserts-check,
.francaise-desserts .palette-gout-desserts-check,
.francaise-desserts .delices-sens-desserts-check,
.enchantee-desserts .francaise-desserts-check,
.enchantee-desserts .enchantee-desserts-check,
.enchantee-desserts .palette-gout-desserts-check,
.enchantee-desserts .delices-sens-desserts-check,
.palette-gout-desserts .francaise-desserts-check,
.palette-gout-desserts .enchantee-desserts-check,
.palette-gout-desserts .palette-gout-desserts-check,
.palette-gout-desserts .delices-sens-desserts-check,
.delices-sens-desserts .francaise-desserts-check,
.delices-sens-desserts .enchantee-desserts-check,
.delices-sens-desserts .palette-gout-desserts-check,
.delices-sens-desserts .delices-sens-desserts-check {
  border: solid 0px #99E2D0;
  background-color: #99E2D0;
  color: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  height: 62px;
  width: 8%;
  text-align: center;
  transform: scalex(0);
  transition: all 1s;
  transform-origin: right 45%;
  margin-right: -13%;
}
.francaise-desserts:hover,
.enchantee-desserts:hover,
.palette-gout-desserts:hover,
.delices-sens-desserts:hover {
  cursor: pointer;
}
.francaise-desserts:hover .francaise-desserts-check,
.francaise-desserts:hover .enchantee-desserts-check,
.francaise-desserts:hover .palette-gout-desserts-check,
.francaise-desserts:hover .delices-sens-desserts-check,
.enchantee-desserts:hover .francaise-desserts-check,
.enchantee-desserts:hover .enchantee-desserts-check,
.enchantee-desserts:hover .palette-gout-desserts-check,
.enchantee-desserts:hover .delices-sens-desserts-check,
.palette-gout-desserts:hover .francaise-desserts-check,
.palette-gout-desserts:hover .enchantee-desserts-check,
.palette-gout-desserts:hover .palette-gout-desserts-check,
.palette-gout-desserts:hover .delices-sens-desserts-check,
.delices-sens-desserts:hover .francaise-desserts-check,
.delices-sens-desserts:hover .enchantee-desserts-check,
.delices-sens-desserts:hover .palette-gout-desserts-check,
.delices-sens-desserts:hover .delices-sens-desserts-check {
  margin-right: 0;
  transform: scalex(1.2) translateX(2%);
  width: 3rem;
}
.francaise-desserts:hover .fa-check,
.enchantee-desserts:hover .fa-check,
.palette-gout-desserts:hover .fa-check,
.delices-sens-desserts:hover .fa-check {
  border: solid 2px white;
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  color: #99E2D0;
  opacity: 1;
  transform: rotate(1turn);
}

.francaise-desserts-bloc,
.enchantee-desserts-bloc,
.palette-gout-desserts-bloc,
.delices-sens-desserts-bloc {
  width: 100%;
  margin-right: 0%;
  transition: all ease-in-out 3s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.francaise-desserts-bloc__paragraphe p,
.enchantee-desserts-bloc__paragraphe p,
.palette-gout-desserts-bloc__paragraphe p,
.delices-sens-desserts-bloc__paragraphe p {
  margin: 5px 0 10px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.francaise-desserts-bloc__paragraphe span,
.enchantee-desserts-bloc__paragraphe span,
.palette-gout-desserts-bloc__paragraphe span,
.delices-sens-desserts-bloc__paragraphe span {
  margin-right: 20px;
  white-space: nowrap;
  font-weight: bold;
}

.francaise-desserts-bloc__titre,
.enchantee-desserts-bloc__titre,
.palette-gout-desserts-bloc__titre,
.delices-sens-desserts-bloc__titre {
  margin: 5px 0 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.loader-position {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: load 1.9s 0.5s forwards;
  -o-animation: load 1.9s 0.5s forwards;
  animation: load ease-in-out 1.9s 0.5s forwards;
  z-index: 1000;
}

@keyframes load {
  0% {
    transform: scale(-1);
  }
  99.99% {
    transform: scale(0);
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader {
  border: 10px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  z-index: 1000;
  border-top: 10px solid #FF79DA;
  border-bottom: 10px solid #9356DC;
  border-radius: 50%;
  width: 400px;
  height: 60px;
  -webkit-animation: spin 2s;
  -o-animation: spin 2s;
  animation: spin ease-in 2s;
  animation-fill-mode: forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(-1);
  }
  99.99% {
    transform: rotate(360deg) scale(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.index-section__paragraphe {
  justify-content: center;
  margin: 0;
  border: 2px solid #e5e3e3;
  background-color: #e5e3e3;
  padding: 15px 0px;
  font-weight: bold;
}

.fa-location-dot {
  margin-right: 20px;
  margin-left: -20px;
}

.index-aside {
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.index-aside__titre {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 30px;
}
.index-aside__paragraphe {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #878181;
}

.index-nav {
  padding-left: 10px;
  height: 390px;
  padding-top: 10px;
  background-color: white;
}

.index-nav-menu {
  list-style-type: none;
  justify-content: space-between;
  height: 250px;
  padding-left: 0;
  margin-left: 16px;
  width: 95%;
}
.index-nav-menu__block p {
  margin: auto;
  z-index: 2;
}
.index-nav-menu__block-liste {
  justify-content: space-evenly;
  width: 100%;
  border: solid 2px #f3f3f3;
  border-radius: 15px;
  padding: 20px 50px 20px 0px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
  font-weight: bold;
  white-space: normal;
}
.index-nav-menu__block-liste:hover {
  cursor: pointer;
  background-color: rgba(148, 68, 213, 0.0901960784);
}
.index-nav-menu__block-liste:hover .fa-mobile-screen-button,
.index-nav-menu__block-liste:hover .fa-bars,
.index-nav-menu__block-liste:hover .fa-store {
  color: #9356DC;
}
.index-nav-menu .fa-1, .index-nav-menu .fa-3, .index-nav-menu .fa-2 {
  background-color: #9356DC;
  font-size: 12px;
  border-radius: 30px;
  border: 2px solid #9356DC;
  padding: 4px 5px 1px 5px;
  display: flex;
  align-items: center;
  color: white;
  margin: 20px -5px 40px -7px;
}
#index-restaurant {
  margin-top: 40px;
}
#index-restaurant h2 {
  margin-left: 15px;
}

#index-restaurant {
  height: 1070px;
}

.index-menilmontant-figure, .index-folie-mericourt-figure, .index-cite-rouge-figure, .index-charonne-figure {
  margin: 0 10px 20px 10px;
  border: solid 2px white;
  border-radius: 20px;
  box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.3);
}
.index-menilmontant-figure img, .index-folie-mericourt-figure img, .index-cite-rouge-figure img, .index-charonne-figure img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  margin-bottom: -5px;
}
.index-menilmontant-figure__bloc, .index-folie-mericourt-figure__bloc, .index-cite-rouge-figure__bloc, .index-charonne-figure__bloc {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 50px;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.index-menilmontant-figure__bloc-text h3 {
  margin-bottom: -15px;
}

.index-menilmontant-figure__icone .icone1, .index-folie-mericourt-figure__icone .icone1, .index-cite-rouge-figure__icone .icone1, .index-charonne-figure__icone .icone1 {
  font-size: 20px;
  z-index: 1;
}
.index-menilmontant-figure__icone .icone2, .index-folie-mericourt-figure__icone .icone2, .index-cite-rouge-figure__icone .icone2, .index-charonne-figure__icone .icone2 {
  z-index: 10;
  opacity: 0;
  right: 23.65px;
  margin-top: 4.5px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  transition: transform ease-in-out 1s;
  position: absolute;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.index-menilmontant-figure__icone:hover, .index-folie-mericourt-figure__icone:hover, .index-cite-rouge-figure__icone:hover, .index-charonne-figure__icone:hover {
  cursor: pointer;
}
.index-menilmontant-figure__icone:hover .icone1, .index-folie-mericourt-figure__icone:hover .icone1, .index-cite-rouge-figure__icone:hover .icone1, .index-charonne-figure__icone:hover .icone1 {
  opacity: 0;
}
.index-menilmontant-figure__icone:hover .icone2, .index-folie-mericourt-figure__icone:hover .icone2, .index-cite-rouge-figure__icone:hover .icone2, .index-charonne-figure__icone:hover .icone2 {
  opacity: 1;
  transform: scale(1.5);
}

.nouveau {
  border: solid 2px rgba(137, 219, 206, 0.9490196078);
  color: #057e6b;
  background-color: rgba(137, 219, 206, 0.9490196078);
  width: 25%;
  height: 23px;
  text-align: center;
  padding-top: 3px;
  position: absolute;
  left: 68%;
}

.index-charonne-figure__bloc-text h3 {
  margin-bottom: -15px;
}

.index-cite-rouge-figure__bloc-text h3 {
  margin-bottom: -15px;
}

.index-folie-mericourt-figure__bloc-text h3 {
  margin-bottom: -15px;
}

body {
  background-color: #f3f3f3;
  margin: 0;
}/*# sourceMappingURL=main.css.map */