//footer
#conteneur-footer {
    color: $quatro;
    background-color: #383636;
    padding: 10px 20px;
}

.footer-menu__liste {
    list-style-type: none;
    @extend %flex-column;
    justify-content: space-around;    
    height: 100px;
    padding-left: 0;

    .footer-a {
        color: $quatro;
        display: contents;
        all: unset;
        &:hover{
            cursor: pointer;
        }
    }
}

.footer-menu .fa-utensils {
    margin-right: $margin;
    color: $quatro;
}

.fa-handshake-angle {
    @extend .fa-utensils;
}

