h1 {
    @extend %font-family-titre;
}


//article menu
.menu-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}

//menus les conteneur 
#conteneur-francaise {
    @include conteneur;

    h2 {
        @include h2;
    }

    .francaise-titre:hover {
        border-bottom: solid 3px $tertiaire;
        width: 8%
    }
}

#conteneur-enchantee {
    @extend #conteneur-francaise;
}

#conteneur-palette-gout {
    @extend #conteneur-francaise;
}

#conteneur-delices-sens {
    @extend #conteneur-francaise;
}

//page menu
//entree
.conteneur-francaise-entrees,
.conteneur-enchantee-entrees,
.conteneur-palette-gout-entrees,
.conteneur-delices-sens-entrees {
    @include conteneur-menu;
}

.francaise-entrees,
.enchantee-entrees,
.palette-gout-entrees,
.delices-sens-entrees {
    @include menu;
    transition: transform 2s ease-out;
    .fa-check {
        opacity: 0;
        transform: rotate(0turn);
    }

    &:hover {
        cursor: pointer;
        
        .francaise-entrees-check,
        .enchantee-entrees-check,
        .palette-gout-entrees-check,
        .delices-sens-entrees-check {
            @include check-hover;            
        }

        .fa-check {
            @include fa-check;
           transform: rotate(1turn);            
        }
    }
}

.francaise-entrees-bloc,
.enchantee-entrees-bloc,
.palette-gout-entrees-bloc,
.delices-sens-entrees-bloc {
    @include menu-bloc;
}

.francaise-entrees-bloc__paragraphe,
.enchantee-entrees-bloc__paragraphe,
.palette-gout-entrees-bloc__paragraphe,
.delices-sens-entrees-bloc__paragraphe {
    @include paragraphe;
}

.francaise-entrees-bloc__paragraphe p,
.enchantee-entrees-bloc__paragraphe p,
.palette-gout-entrees-bloc__paragraphe p,
.delices-sens-entrees-bloc__paragraphe p {
    @include paragraphe-p;
}

.francaise-entrees-bloc__paragraphe span,
.enchantee-entrees-bloc__paragraphe span,
.palette-gout-entrees-bloc__paragraphe span,
.delices-sens-entrees-bloc__paragraphe span {
    @include paragraphe-span;
}

.francaise-entrees-bloc__titre,
.enchantee-entrees-bloc__titre,
.palette-gout-entrees-bloc__titre,
.delices-sens-entrees-bloc__titre {
    @include titre;
}

//plats
.conteneur-francaise-plats,
.conteneur-enchantee-plats,
.conteneur-palette-gout-plats,
.conteneur-delices-sens-plats {
    @include conteneur-menu;

}

.francaise-plats,
.enchantee-plats,
.palette-gout-plats,
.delices-sens-plats {
    @include menu;

    .fa-check {
        opacity: 0;
    }

    &:hover {
        cursor: pointer;

        .francaise-plats-check,
        .enchantee-plats-check,
        .palette-gout-plats-check,
        .delices-sens-plats-check {
            @include check-hover;
        }

        .fa-check {
            @include fa-check;
        }
    }
}

.francaise-plats-bloc,
.enchantee-plats-bloc,
.palette-gout-plats-bloc,
.delices-sens-plats-bloc {
    @include menu-bloc;
}

.francaise-plats-bloc__paragraphe,
.enchantee-plats-bloc__paragraphe,
.palette-gout-plats-bloc__paragraphe,
.delices-sens-plats-bloc__paragraphe {
    @include paragraphe;
}

.francaise-plats-bloc__paragraphe p,
.enchantee-plats-bloc__paragraphe p,
.palette-gout-plats-bloc__paragraphe p,
.delices-sens-plats-bloc__paragraphe p {
    @include paragraphe-p;
}

.francaise-plats-bloc__paragraphe span,
.enchantee-plats-bloc__paragraphe span,
.palette-gout-plats-bloc__paragraphe span,
.delices-sens-plats-bloc__paragraphe span {
    @include paragraphe-span;
}

.francaise-plats-bloc__titre,
.enchantee-plats-bloc__titre,
.palette-gout-plats-bloc__titre,
.delices-sens-plats-bloc__titre {
    @include titre;
}

//desserts
.conteneur-francaise-desserts,
.conteneur-enchantee-desserts,
.conteneur-palette-gout-desserts,
.conteneur-delices-sens-desserts {
    @include conteneur-menu;
}

.francaise-desserts,
.enchantee-desserts,
.palette-gout-desserts,
.delices-sens-desserts {
    @include menu;

    .fa-check {
        opacity: 0;
    }

    &:hover {
        cursor: pointer;

        .francaise-desserts-check,
        .enchantee-desserts-check,
        .palette-gout-desserts-check,
        .delices-sens-desserts-check {
            @include check-hover;
        }

        .fa-check {
            @include fa-check;
        }
    }
}

.francaise-desserts-bloc,
.enchantee-desserts-bloc,
.palette-gout-desserts-bloc,
.delices-sens-desserts-bloc {
    @include menu-bloc;
}

.francaise-desserts-bloc__paragraphe,
.enchantee-desserts-bloc__paragraphe,
.palette-gout-desserts-bloc__paragraphe,
.delices-sens-desserts-bloc__paragraphe {
    @include paragraphe;
}

.francaise-desserts-bloc__paragraphe p,
.enchantee-desserts-bloc__paragraphe p,
.palette-gout-desserts-bloc__paragraphe p,
.delices-sens-desserts-bloc__paragraphe p {
    @include paragraphe-p;
}

.francaise-desserts-bloc__paragraphe span,
.enchantee-desserts-bloc__paragraphe span,
.palette-gout-desserts-bloc__paragraphe span,
.delices-sens-desserts-bloc__paragraphe span {
    @include paragraphe-span;
}

.francaise-desserts-bloc__titre,
.enchantee-desserts-bloc__titre,
.palette-gout-desserts-bloc__titre,
.delices-sens-desserts-bloc__titre {
    @include titre;
}