h1 {
    @extend %font-family-titre;
}


//article menu
.menu-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}

//menus les conteneur 
#conteneur-francaise {
    @include conteneur;
}

.francaise-menu,
.palette-gout-menu,
.enchantee-menu,
.delices-sens-menu {
    @include menu-titre;

    &:hover {
        cursor: pointer;

        .icone1 {
            opacity: 0;
        }

        .icone2 {
            opacity: 1;
            transform: scale(1.5);
        }
    }

    &__icone {
        .icone1 {
            font-size: 20px;
            z-index: 1;
        }

        .icone2 {
            z-index: 10;
            opacity: 0;
            right: 23.65px;
            margin-top: 4.5px;
            background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
            transition: transform ease-in-out 0.3s;
            position: absolute;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
}


.francaise-titre:hover {
    border-bottom: solid 3px $tertiaire;
    width: 8%
}

#conteneur-enchantee {
    @extend #conteneur-francaise;
    height: 1280px;
}

#conteneur-palette-gout {
    @extend #conteneur-francaise;
}

#conteneur-delices-sens {
    @extend #conteneur-francaise;
}

//page menu
//entree
.conteneur-francaise-entrees,
.conteneur-enchantee-entrees,
.conteneur-palette-gout-entrees,
.conteneur-delices-sens-entrees {
    @include conteneur-menu;
}

.francaise-animation,
.enchatee-animation,
.palette-gout-animation,
.delices-sens-animation {
    animation: apparition 1s ease-in-out;
}

.francaise-animation2,
.enchatee-animation2,
.palette-gout-animation2,
.delices-sens-animation2 {
    animation: apparition 1.5s ease-in-out;
}

.francaise-animation3,
.enchatee-animation3,
.palette-gout-animation3,
.delices-sens-animation3 {
    animation: apparition 2s ease-in-out;
}

.enchatee-animation4 {
    animation: apparition 2.5s ease-in-out;
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(15px)
    }

    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

.francaise-entrees,
.enchantee-entrees,
.palette-gout-entrees,
.delices-sens-entrees {
    @include menu;

    .fa-check {
        opacity: 0;
        transform: rotate(0turn);
        transition: transform ease-in-out .8s;
    }

    .francaise-entrees-check,
    .enchantee-entrees-check,
    .palette-gout-entrees-check,
    .delices-sens-entrees-check {
        @include check-hover;
    }

    &:hover {
        cursor: pointer;

        .francaise-entrees-check,
        .enchantee-entrees-check,
        .palette-gout-entrees-check,
        .delices-sens-entrees-check {
            margin-right: 0;
            transform: scalex(1.2) translateX(2%);
            width: 3rem;
        }

        .fa-check {
            @include fa-check;
        }
    }
}

.francaise-entrees-bloc,
.enchantee-entrees-bloc,
.palette-gout-entrees-bloc,
.delices-sens-entrees-bloc {
    @include menu-bloc;
}

.francaise-entrees-bloc__paragraphe,
.enchantee-entrees-bloc__paragraphe,
.palette-gout-entrees-bloc__paragraphe,
.delices-sens-entrees-bloc__paragraphe {
    @include paragraphe;

}

.francaise-entrees-bloc__paragraphe p,
.enchantee-entrees-bloc__paragraphe p,
.palette-gout-entrees-bloc__paragraphe p,
.delices-sens-entrees-bloc__paragraphe p {
    @include paragraphe-p;
}

.francaise-entrees-bloc__paragraphe span,
.enchantee-entrees-bloc__paragraphe span,
.palette-gout-entrees-bloc__paragraphe span,
.delices-sens-entrees-bloc__paragraphe span {
    @include paragraphe-span;
}

.francaise-entrees-bloc__titre,
.enchantee-entrees-bloc__titre,
.palette-gout-entrees-bloc__titre,
.delices-sens-entrees-bloc__titre {
    @include titre;
}

//plats
.conteneur-francaise-plats,
.conteneur-enchantee-plats,
.conteneur-palette-gout-plats,
.conteneur-delices-sens-plats {
    @include conteneur-menu;

}

.francaise-plats,
.enchantee-plats,
.palette-gout-plats,
.delices-sens-plats {
    @include menu;

    .fa-check {
        opacity: 0;
        transform: rotate(0turn);
        transition: transform ease-in-out .8s;
    }

    .francaise-plats-check,
    .enchantee-plats-check,
    .palette-gout-plats-check,
    .delices-sens-plats-check {
        @include check-hover;
    }

    &:hover {
        cursor: pointer;

        .francaise-plats-check,
        .enchantee-plats-check,
        .palette-gout-plats-check,
        .delices-sens-plats-check {
            margin-right: 0;
            transform: scalex(1.2) translateX(2%);
            width: 3rem;
        }

        .fa-check {
            @include fa-check;
        }
    }
}

.francaise-plats-bloc,
.enchantee-plats-bloc,
.palette-gout-plats-bloc,
.delices-sens-plats-bloc {
    @include menu-bloc;
}

.francaise-plats-bloc__paragraphe,
.enchantee-plats-bloc__paragraphe,
.palette-gout-plats-bloc__paragraphe,
.delices-sens-plats-bloc__paragraphe {
    @include paragraphe;
}

.francaise-plats-bloc__paragraphe p,
.enchantee-plats-bloc__paragraphe p,
.palette-gout-plats-bloc__paragraphe p,
.delices-sens-plats-bloc__paragraphe p {
    @include paragraphe-p;
}

.francaise-plats-bloc__paragraphe span,
.enchantee-plats-bloc__paragraphe span,
.palette-gout-plats-bloc__paragraphe span,
.delices-sens-plats-bloc__paragraphe span {
    @include paragraphe-span;
}

.francaise-plats-bloc__titre,
.enchantee-plats-bloc__titre,
.palette-gout-plats-bloc__titre,
.delices-sens-plats-bloc__titre {
    @include titre;
}

//desserts
.conteneur-francaise-desserts,
.conteneur-enchantee-desserts,
.conteneur-palette-gout-desserts,
.conteneur-delices-sens-desserts {
    @include conteneur-menu;
}

.francaise-desserts,
.enchantee-desserts,
.palette-gout-desserts,
.delices-sens-desserts {
    @include menu;

    .fa-check {
        opacity: 0;
        transform: rotate(0turn);
        transition: transform ease-in-out .8s;
        
    }

    .francaise-desserts-check,
    .enchantee-desserts-check,
    .palette-gout-desserts-check,
    .delices-sens-desserts-check {
        @include check-hover;
            
    }

    &:hover {
        cursor: pointer;

        .francaise-desserts-check,
        .enchantee-desserts-check,
        .palette-gout-desserts-check,
        .delices-sens-desserts-check {
            margin-right: 0;
            transform: scalex(1.2) translateX(2%);
            width: 3rem;
           
        }

        .fa-check {
            @include fa-check;
        }
    }
}

.francaise-desserts-bloc,
.enchantee-desserts-bloc,
.palette-gout-desserts-bloc,
.delices-sens-desserts-bloc {
    @include menu-bloc;
}

.francaise-desserts-bloc__paragraphe,
.enchantee-desserts-bloc__paragraphe,
.palette-gout-desserts-bloc__paragraphe,
.delices-sens-desserts-bloc__paragraphe {
    @include paragraphe;
}

.francaise-desserts-bloc__paragraphe p,
.enchantee-desserts-bloc__paragraphe p,
.palette-gout-desserts-bloc__paragraphe p,
.delices-sens-desserts-bloc__paragraphe p {
    @include paragraphe-p;
}

.francaise-desserts-bloc__paragraphe span,
.enchantee-desserts-bloc__paragraphe span,
.palette-gout-desserts-bloc__paragraphe span,
.delices-sens-desserts-bloc__paragraphe span {
    @include paragraphe-span;
}

.francaise-desserts-bloc__titre,
.enchantee-desserts-bloc__titre,
.palette-gout-desserts-bloc__titre,
.delices-sens-desserts-bloc__titre {
    @include titre;
}