//page principal
.header-index {
    @extend %flex-row;
    justify-content: center;
    background-color: $quatro;

    &__titre {
        @extend %flex-row;
        justify-content: center;
        margin-bottom: $margin+5px;
    }

    img {
        width: $width;
    }
}


//les menus
.header-restaurants {
    @extend %flex-row;
    justify-content: center;
    align-items: center;
    width: $width +50%;
    background-color: $quatro;

    &__titre {
        @extend %flex-row;
        justify-content: space-around;
        align-items: center;

        .fa-arrow-left {
            color: black;
        }
    }
}

.header-restaurants img {
    width: 50%;
    margin-right: 50px;
}