.index-aside__button {
   background-color: rgb(173 42 171 / 67%);
   border: 2px solid rgb(195 51 193 / 0%);   
   border-radius: 30px;
   color: $quatro;
   padding: 10px;
   cursor: pointer;
   font-weight: bold;
   text-decoration: none;
   box-shadow: 0px 0px 9px 3px rgb(183 4 180 / 35%);
   &:hover{
      box-shadow: inset -18px -13px 7px 0px rgb(147 106 165 / 64%);
   }
}
.button-menu{
   display: flex; 
   justify-content: center;
   align-items: center;
}

.button {
   @extend .index-aside__button;  
   padding: 10px 35px 10px 35px;
}

