//index-section
.index-section__paragraphe {
    @extend %flex-row;
    justify-content: center;
    margin: 0;
    border: 2px solid #e5e3e3;
    background-color: #e5e3e3;
    padding: 15px 0px;
    font-weight: bold;
}

.fa-location-dot {
    margin-right: $margin+10px;
    margin-left: -20px;
}

//index-aside
.index-aside {
    @extend %flex-column;
    justify-content: center;
    align-items: center;
    height: $height;
    margin-bottom: 40px;
    margin-top: 20px;

    &__titre {
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0 30px;
    }

    &__paragraphe {
        text-align: center;
        margin-top: $margin;
        margin-bottom: $margin+10px;
        color: #878181;
    }
}

//main
//index-nav
.index-nav {
    padding-left: 10px;
    height: $height+190px;
    padding-top: 10px;
    background-color: $quatro;
}

.index-nav-menu {
    list-style-type: none;
    @extend %flex-column;
    justify-content: space-between;
    height: $height +50px;
    padding-left: 0;
    margin-left: 16px;
    width: $width+45% ;

    &__block {
        @extend %flex-row;
        p {
            margin: auto;
            z-index: 2;
        }
    }

    &__block-liste {
        @extend %flex-row;
        justify-content: space-evenly;
        width: $width+50%;
        border: solid 2px #f3f3f3;
        border-radius: 15px;
        padding: 20px 50px 20px 0px;
        margin-bottom: $margin+10px;
        background-color: #f3f3f3;
        box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.1);
        z-index: 1;
        font-weight: bold;
        white-space: normal;

        &:hover {
            cursor: pointer;
            background-color: #9444d517;

            .fa-mobile-screen-button,
            .fa-bars,
            .fa-store {
                color: $primaire;
            }
        }        
    }

    .fa-1 {
        @include icones-chiffres;
    }

    .fa-2 {
        @extend .fa-1;
    }

    .fa-3 {
        @extend .fa-1;
    }
}


//index section2
#index-restaurant {
    margin-top: $margin+30px;

    h2 {
        margin-left: $margin+5px;
    }
}