//index-section
.index-section__paragraphe {
    @extend %flex-row;
    justify-content: center;
    margin: 0;
    border: 2px solid lighten($tertiaire, 20);  
    background-color: darken($tertiaire, 40) ;  
    padding: 15px 0px;
}

.fa-location-dot {
    margin-right: $margin+10px;
    margin-left: -20px;
}

//index-aside
.index-aside {
    @extend %flex-column;
    justify-content: center;
    align-items: center;
    height: $height;
    margin-bottom: 0;
    margin-top: 0;

    &__titre {
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
    }

    &__paragraphe {
        text-align: center;
        margin-top: $margin;
        margin-bottom: $margin+10px;
    }
}

//main
//index-nav
.index-nav {
    padding-left: 10px;
    height: $height+100px;
    padding-top: 10px;
    background-color: $quatro;

    &__menu {
        list-style-type: none;
        @extend %flex-column;
        justify-content: space-between;
        height: 100px;
    }

    &__menu-liste {
        @extend %flex-row;
        justify-content: space-evenly;
        width: $width+40%;
        margin-left: -40px;
        border: solid 2px lighten($tertiaire, 20);
        border-radius: 15px;
        padding: 15px 50px 15px 0px;
        margin-bottom: $margin+10px;
        background-color:lighten($tertiaire, 20);
        box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.1);
    }

    .fa-1{
        @include icones-chiffres;
    }

    .fa-2{
        @extend .fa-1;
    }

    .fa-3{
        @extend .fa-1;
    }
}

//index section2
#index-restaurant {
    margin-top: $margin+30px;

    h2 {
        margin-left: $margin+5px;
    }
}