//index section2
#index-restaurant {
    height: 1070px;
}

//menilmontant
.index-menilmontant-figure {
    margin: 0 10px 20px 10px;
    border: solid 2px #{$quatro};
    border-radius: 20px;
    box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 30%);

    &__bloc {
        @extend %flex-row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: 50px;
        background-color: $quatro;
        border-radius: 0px 0px 20px 20px;
    }

    &__bloc-text h3 {
        margin-bottom: -15px;
    }

    img {
        @include index-images;
        border-radius: 15px 15px 0 0;
        margin-bottom: -5px;
    }

}

.index-menilmontant-figure__icone {

    .icone1 {
        font-size: 20px;
        z-index: 1;

        &:hover {
            display: none;
        }
    }

    .icone2 {
        z-index: 10;
        opacity: 0;
        margin-left: -24px;
        font-size: 20px;

        &:hover {
            opacity: 1;

            color: $primaire;
            cursor: pointer;
        }
    }
}

.nouveau {
    border: solid 2px#89dbcef2;
    color: #057e6b;
    background-color: #89dbcef2;
    width: 25%;
    height: 23px;
    text-align: center;
    padding-top: 3px;
    position: absolute;
    left: 68%;
}



//charonne
.index-charonne-figure {
    @extend .index-menilmontant-figure;
}

.index-charonne-figure__bloc {
    @extend .index-menilmontant-figure__bloc;
}

.index-charonne-figure__bloc-text h3 {
    margin-bottom: -15px;
}

.index-charonne-figure__icone {
    @extend .index-menilmontant-figure__icone;
}

//cite-rouge
.index-cite-rouge-figure {
    @extend .index-menilmontant-figure;
}

.index-cite-rouge-figure__bloc {
    @extend .index-menilmontant-figure__bloc;
}

.index-cite-rouge-figure__bloc-text h3 {
    margin-bottom: -15px;
}

.index-cite-rouge-figure__icone {
    @extend .index-menilmontant-figure__icone;
}

//folie-mericourt
.index-folie-mericourt-figure {
    @extend .index-menilmontant-figure;
}

.index-folie-mericourt-figure__bloc {
    @extend .index-menilmontant-figure__bloc;
}

.index-folie-mericourt-figure__bloc-text h3 {
    margin-bottom: -15px;
}

.index-folie-mericourt-figure__icone {
    @extend .index-menilmontant-figure__icone;
}