.loader-position {
    //placement     
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: load 1.9s 0.5s forwards ;
    -o-animation: load 1.9s 0.5s  forwards;
    animation: load ease-in-out 1.9s 0.5s forwards ;    
    z-index: 1000; 
}

@keyframes load {
    0% {
        transform: scale(-1);      
    }       
    
    99.99% {
        transform:  scale(0); 
        opacity: .6;
    }

    100% {
        opacity: 0;
        visibility: hidden;        
    }
}

.loader {
    //texte
    border: 10px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    z-index: 1000;

    //creation du loader   
    border-top: 10px solid $secondaire;
    border-bottom: 10px solid $primaire;
    border-radius: 50%;
    width: 400px;
    height: 60px;
    -webkit-animation: spin 2s linear;
    -o-animation: spin 2s linear;
    animation: spin ease-in 2s linear;
    animation-fill-mode: forwards;}


    //animation
    @keyframes spin {
        0% {
            transform: rotate(0deg) scale(-1);
        }

        99.99% {
            transform: rotate(360deg) scale(0);
            opacity: 1;
        }

        100% {
            opacity: 0;
           visibility: hidden;
        }
    }


