%flex-row{
    display: flex;
    flex-direction: row;    
}

%flex-column{
    display: flex;
    flex-direction: column;
}

//polices
%font-family-text{
font-family: 'Roboto', sans-serif;}

%font-family-titre{
font-family: 'Shrikhand', 'cursive'; }